POSTGRES_USER=ltp_chatbot
POSTGRES_PASSWORD=ltp_chatbot
POSTGRES_DB=ltp_chatbot_dev
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

PHX_HOST=localhost
PORT=4000
SECRET_KEY_BASE=replace-with-a-long-random-value
